.navbar-inverse {
    background-color: #171717;
}
.nav a {
    font-size: 20px;
}

body {
    color: whitesmoke;
    padding-top: 20px;
    background-color: black;
}

header {
    padding-top: inherit;
    padding-bottom: 20px;
}

section {
    background-color: #282828;
}

.work_description {
    text-align: left;
}

.section_header h3 {
    text-decoration: underline;
    text-align: center;
}

.vimeo_vids iframe {
    position: absolute;
    left: 25%;
    transform: translate(-25%, -25%);
}
.vimeo_vids p {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 40%;
}

p {

    margin: 20px 30%;
    text-align: justify;
}

.blank_row {
    height: 10px !important; /* overwrites any other rules */
    background-color: black;
}

table.center-table {
    width: 50%;
    margin-left: 30%;
    margin-top: 1%;
}
th, td {
    vertical-align: top;
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
    /*padding-left: 60px;*/
    color: whitesmoke;
}
th {
    text-decoration: underline;
}
td {
    font-size: 1em;
}

.game-credits-table {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
}
.game-credits-table td {
    padding-right: 5px;
}
.game-credits {
    list-style-type: none;
}


.profile-pic {
    position: relative;
    width: 240px;
    height: 240px;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    border-radius: 50%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 5%;
    padding-bottom: 20px;
    vertical-align: middle;
    overflow: hidden;
}
.svg-content [

]